<section class="default-container">
  <app-section-title>Categorias</app-section-title>

  <table matSort (matSortChange)="sortData($event)">
    <thead class="table-header">
      <th mat-sort-header="name">Nome</th>
      <th mat-sort-header="budget">Orçamento</th>
      <th mat-sort-header="icon"></th>
    </thead>
    <tbody>
      <tr *ngFor="let category of sortedData" class="table-row">
        <td>
          {{ category.name }}
        </td>
        <td>{{ category.budget | currency: " " }}</td>
        <td>
          <mat-icon>{{ category.icon }}</mat-icon>
        </td>
        <td>
          <button mat-icon-button (click)="editCategory(category)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCategory(category)">
            <mat-icon>delete </mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot class="table-footer">
      <td class="footer-legend">Orçamento total</td>
      <td colspan="1">{{ totalBudget | currency: "BRL" }}</td>
    </tfoot>
  </table>
  <app-float-button
    [matIcon]="'add'"
    (click)="addCategory()"
  ></app-float-button>
</section>
