<form class="mhc-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <div class="row">
    <app-select id="wallet" [control]="formGroup.get('wallet')" [label]="getTranslateKey('walletLabel') | translate"
      [placeholder]="getTranslateKey('walletPlaceholder') | translate" [dataSource]="wallets" attributeLabel="name"
      [optionTemplate]="walletOptionsTemplate">
      <ng-template #walletOptionsTemplate let-item="item">
        <span>{{item.name}}</span>
        @if (!item.active) {
        <span>&nbsp;</span>
        <span>--{{getTranslateKey('desactivatedWallet') | translate}}--</span>
        }
      </ng-template>
    </app-select>
  </div>

  <div class="mhc-form-row mhc-full-width">
    <mat-button-toggle-group formControlName="type" class="mhc-full-width" (change)="changeTransactionType($event)">
      <mat-button-toggle value="INCOME" class="mhc-flex-1">
        {{ 'generic.types.classificationTypes.INCOME' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="EXPENSE" class="mhc-flex-1">
        {{ 'generic.types.classificationTypes.EXPENSE' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="row">
    <app-input class="col-sm" id="amount" [control]="formGroup.get('amount')"
      [label]="getTranslateKey('amountLabel') | translate"
      [placeholder]="getTranslateKey('amountPlaceholder') | translate" type="number" [step]="0.01"
      (change)="updateCategoriesAmountDiff()" [textPrefix]="(formGroup.get('wallet')?.value)?.currency?.symbol">
    </app-input>

    <app-input-datetime class="col-sm" id="paymentMoment" [label]="getTranslateKey('paymentMomentLabel') | translate"
      [placeholder]="getTranslateKey('paymentMomentPlaceholder') | translate"
      [control]="formGroup.get('paymentMoment')">
    </app-input-datetime>
  </div>

  <div class="row">
    <app-input class="col-sm" id="notes" [control]="formGroup.get('notes')"
      [label]="getTranslateKey('notesLabel') | translate"
      [placeholder]="getTranslateKey('notesPlaceholder') | translate" type="textarea">
    </app-input>
  </div>

  <div class="row">
    <app-input class="col-sm" id="currentInstallment" [control]="formGroup.get('currentInstallment')"
      [label]="getTranslateKey('currentInstallmentLabel') | translate"
      [placeholder]="getTranslateKey('currentInstallmentPlaceholder') | translate" type="number" [step]="1">
    </app-input>
  </div>

  <app-select id="method" [control]="formGroup.get('method')" [label]="getTranslateKey('methodLabel') | translate"
    [placeholder]="getTranslateKey('methodPlaceholder') | translate"
    [dataSource]="formGroup.get('wallet')?.value?.availableTransactionMethods || []" attributeLabel="method"
    [optionTemplate]="methodOptionsTemplate">
    <ng-template #methodOptionsTemplate let-item="item">
      {{'generic.types.transaction.method.' + item | translate}}
    </ng-template>
  </app-select>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{getTranslateKey('categories') | translate}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{getTranslateKey('sumOfCategories') | translate}}:&nbsp;</span>
        <span>
          {{categoriesAmount | currency: formGroup.get('wallet')?.value?.currency?.symbol || ' ' }}
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="d-flex flex-column">
      <form [formGroup]="formCategories" class="mhc-full-width" (ngSubmit)="addCategory(formCategories)">

        <div class="row">
          <app-select class="col-sm" id="category" [control]="formCategories.get('category')"
            [label]="getTranslateKey('categoryLabel') | translate"
            [placeholder]="getTranslateKey('categoryPlaceholder') | translate" [dataSource]="categoriesOptions"
            attributeLabel="name" [optionTemplate]="categoryOptionsTemplate">
            <ng-template #categoryOptionsTemplate let-item="item">
              <mat-icon class="mat-18 mhc-v-middle" [style.color]="item.color">{{item.icon}}</mat-icon>
              <span>{{item.name}}</span>
            </ng-template>
          </app-select>

          <app-input class="col-sm" id="amount" [control]="formCategories.get('amount')"
            [label]="getTranslateKey('categoryAmountLabel') | translate"
            [placeholder]="getTranslateKey('categoryAmountPlaceholder') | translate" type="number" [step]="0.01"
            [textPrefix]="(formGroup.get('wallet')?.value)?.currency?.symbol">
          </app-input>

          <div class="col-sm-2 mhc-form-button">
            <button matTextSuffix type="submit" mat-stroked-button class="mhc-flex-1">
              <mat-icon class="mat-18">add</mat-icon>
              <span>{{getTranslateKey('addCategory') | translate}}</span>
            </button>
          </div>
        </div>
      </form>
    </mat-card-actions>
    <mat-card-content>
      <div class="card table-responsive">
        <table mat-table [dataSource]="formGroup.get('categories')?.value || []" matSort class="mhc-table">

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [sortActionDescription]="getTranslateKey('sortByCategory') | translate">
              {{'generic.types.category.name' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex flex-row align-items-center">
                <mat-icon [style.color]="element.category.color"
                  class="mhc-category-icon">{{element.category.icon}}</mat-icon>
                <span>{{element.category.name}}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="categoryAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              [sortActionDescription]="getTranslateKey('sortByCategoryAmount') | translate">
              {{'generic.types.transactionCategory.amount' | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.type === 'INCOME' ? '+' : '-' }}
              {{ element.amount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              {{'generic.actions' | translate}}
            </th>
            <td mat-cell *matCellDef="let element">
              <button type="button" mat-icon-button (click)="deleteTransactionCategory(element)">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['category', 'categoryAmount', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['category', 'categoryAmount', 'actions'];"></tr>

        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="d-flex flex-column mhc-form-actions">
    <button type="submit" mat-raised-button color="primary">
      {{ 'generic.confirm' | translate }}
    </button>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </button>
  </div>

</form>
