@use '@angular/material' as mat;

@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

$personal-palette: mat.$teal-palette;

$my-primary: mat.define-palette(mat.$teal-palette, 800);
$my-accent: mat.define-palette(mat.$pink-palette, 100);
$my-warn: mat.define-palette($personal-palette, 700);

$personal-theme-light: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        // warn: $my-warn
      ),
      typography: mat.define-typography-config(),
      density: 0,
));

$personal-theme-dark: mat.define-dark-theme((color: (primary: $my-primary,
        accent: $my-accent,
        // warn:
      ),
      typography: mat.define-typography-config(),
      density: 0,
));

@include mat.all-component-themes($personal-theme-light);

.theme-personal-dark {
  @include mat.all-component-colors($personal-theme-dark);
}

@media (prefers-color-scheme: dark) {
  .theme-default-user {
    @include mat.all-component-colors($personal-theme-dark);
  }
}
