<mat-form-field appearance="outline" class="mhc-full-width">
  <button class="mhc-prefix-form-button" type="button" mat-stroked-button matTextPrefix
    (click)="openTimePicker()">
    {{ getTranslateKey('selectTime') | translate }}
  </button>
  <mat-label [attr.for]="id">{{ label }}</mat-label>
  <input matInput [id]="id" [name]="id" type="text" [placeholder]="placeholder" [readonly]="!!isReadOnly"
    [formControl]="getFormControl()" #timeInputText (input)="onTimeChanged()" />
  @if (hint) {
  <mat-hint>{{ hint }}</mat-hint>
  }
</mat-form-field>
