<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="usersLink">
        <mat-icon>group</mat-icon>
        <span>Usuários</span>
      </button>
      <button mat-menu-item [routerLink]="currenciesLink">
        <mat-icon>monetization_on</mat-icon>
        <span>Moedas</span>
      </button>
      <button mat-menu-item [routerLink]="categoriesLink">
        <mat-icon>category</mat-icon>
        <span>Categorias</span>
      </button>
      <button mat-menu-item [routerLink]="walletsLink">
        <mat-icon>wallet</mat-icon>
        <span>Carteiras</span>
      </button>
      <button mat-menu-item [routerLink]="transactionsLink">
        <mat-icon>payments</mat-icon>
        <span>Transações</span>
      </button>
      <button mat-menu-item routerLink="/not-found">
        <mat-icon>search_off</mat-icon>
        <span>Não encontrado</span>
      </button>
    </mat-menu>
  <a routerLink="/">My App</a>
    <span class="mhc-empty-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <app-login-button />
  </mat-toolbar-row>
</mat-toolbar>
