<form class="mhc-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <app-input id="name" [control]="formGroup.get('name')" [label]="getTranslateKey('nameLabel') | translate"
    [placeholder]="getTranslateKey('namePlaceholder') | translate">
  </app-input>

  <app-input-color id="color" [label]="getTranslateKey('colorLabel') | translate"
    [placeholder]="getTranslateKey('colorPlaceholder') | translate" [control]="formGroup.get('color')">
  </app-input-color>

  <app-input-icon id="icon" [label]="getTranslateKey('iconLabel') | translate"
    [iconColor]="formGroup.get('color')?.value" [placeholder]="getTranslateKey('iconPlaceholder') | translate"
    [control]="formGroup.get('icon')"></app-input-icon>

  <div class="d-flex flex-column mhc-form-actions">
    <button type="submit" mat-raised-button color="primary">
      {{ 'generic.confirm' | translate }}
    </button>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </button>
  </div>

</form>
