.mhc-data-not-found-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 15px;
  height: 141px;
  justify-content: center;
  align-items: center;

  border-style: dashed;
  border-width: thin;
  border-radius: 5px;

}
