.mhc-dismisss-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.mhc-notification-type {
  width: 12px;
  height: 12px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 25%;
}

.mhc-success {
  background-color: green;
}

.mhc-error {
  background-color: red;
}

.mhc-warning {
  background-color: yellow;
}
