<div class="bottom-navigation-bar">
  <div class="bottom-navigation-bar-content">
    <div class="nav-button">
      <button mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="nav-button">
      <button mat-icon-button>
        <mat-icon>attach_money</mat-icon>
      </button>
    </div>
    <div class="nav-button">
      <button mat-fab class="main-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="nav-button">
      <button mat-icon-button>
        <mat-icon>trending_up</mat-icon>
      </button>
    </div>
    <div class="nav-button">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</div>
