<form class="mhc-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <app-input id="code" [control]="formGroup.get('code')" [label]="getTranslateKey('codeLabel') | translate"
    [placeholder]="getTranslateKey('codePlaceholder') | translate">
  </app-input>

  <app-input id="name" [control]="formGroup.get('name')" [label]="getTranslateKey('nameLabel') | translate"
    [placeholder]="getTranslateKey('namePlaceholder') | translate">
  </app-input>

  <app-input id="symbol" [control]="formGroup.get('symbol')" [label]="getTranslateKey('symbolLabel') | translate"
    [placeholder]="getTranslateKey('symbolPlaceholder') | translate">
  </app-input>

  <app-input id="brlRate" [control]="formGroup.get('brlRate')" [label]="getTranslateKey('brlRateLabel') | translate"
    [placeholder]="getTranslateKey('brlRatePlaceholder') | translate" type="number" [step]="0.01" textPrefix="R$ ">
  </app-input>

  <mat-checkbox formControlName="active">
    {{ getTranslateKey('activeLabel') | translate }}
  </mat-checkbox>

  <div class="d-flex flex-column mhc-form-actions">
    <button type="submit" mat-raised-button color="primary">
      {{ 'generic.confirm' | translate }}
    </button>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </button>
  </div>

</form>
