<div class="entry" [ngClass]="{ credit: entry.credit, debit: !entry.credit }">
  <div class="entry-content">
    <div class="entry-row">
      <div class="entry-col entry-value">
        {{ entry.value | currency: "BRL" }}
      </div>
    </div>
    <div class="entry-row entry-categories">
      <app-category-chip
        *ngFor="let category of entry.categories"
        [entryCategory]="category"
      ></app-category-chip>
    </div>
    <div class="entry-row entry-moment">
      {{ entry.moment | date: "EEEE, dd-MM-yyyy HH:mm" }}
    </div>
  </div>
</div>
