.entry {
  position: relative;
  flex: 1;
  margin-left: 10px;
  margin-top: 20px;
  width: calc(100% - 10px);
  border-radius: 0px 5px 5px 5px;
}

.entry::before {
  content: "";
  position: absolute;
  left: -9px;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.credit {
  background-color: aliceblue;
}

.credit::before {
  border-right: 5px solid aliceblue;
  border-top: 5px solid aliceblue;
}

.debit {
  background-color: #f7cdd8;
}

.debit::before {
  border-right: 5px solid #f7cdd8;
  border-top: 5px solid #f7cdd8;
}

.entry-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.entry-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.entry-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.chips-categories {
  padding: 0px;
  margin: 0px;
  transform: scale(0.8);
}

.entry-value {
  font-size: large;
  font-weight: bold;
  padding-bottom: 15px;
}

.entry-moment {
  font-size: x-small;
  padding-top: 15px;
  justify-content: end;
  color: grey;
}
