<form class="mhc-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <app-input id="nickname" [control]="formGroup.get('nickname')" [label]="getTranslateKey('nicknameLabel') | translate"
    [placeholder]="getTranslateKey('nicknamePlaceholder') | translate">
  </app-input>

  <app-input id="email" [control]="formGroup.get('email')" [label]="getTranslateKey('emailLabel') | translate"
    [placeholder]="getTranslateKey('emailPlaceholder') | translate" type="email">
  </app-input>

  <app-input id="password" [control]="formGroup.get('password')" [label]="getTranslateKey('passwordLabel') | translate"
    [placeholder]="getTranslateKey('passwordPlaceholder') | translate" type="password" autocomplete="new-password">
  </app-input>

  <app-input id="passwordConfirmation" [control]="formGroup.get('passwordConfirmation')"
    [label]="getTranslateKey('passwordConfirmationLabel') | translate"
    [placeholder]="getTranslateKey('passwordConfirmationPlaceholder') | translate" type="password"
    autocomplete="new-password-confirmation">
  </app-input>

  <div class="d-flex flex-column mhc-form-actions">
    <button type="submit" mat-raised-button color="primary">
      {{ 'generic.confirm' | translate }}
    </button>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </button>
  </div>
</form>
