<input type="color" #colorInput (input)="onColorSelected()" style="position: absolute; opacity: 0;">
<mat-form-field [appearance]="appearance" class="mhc-full-width">
  <button class="mhc-prefix-form-button" type="button" mat-stroked-button matTextPrefix
    (click)="openColorPicker(colorInput)">
    {{ getTranslateKey('selectColor') | translate }}
  </button>
  <mat-label [attr.for]="id">{{ label }}</mat-label>
  <input matInput [id]="id" [name]="id" type="text" [placeholder]="placeholder" [readonly]="!!isReadOnly"
    [formControl]="getFormControl()" #colorInputText (input)="onTextColorChanged()" />
  <button type="button" mat-icon-button matSuffix (click)="setRandomColor()"
    [matTooltip]="getTranslateKey('generateRandomColor') | translate">
    <mat-icon [style.color]="getFormControl().value">shuffle</mat-icon>
  </button>
  <button type="button" mat-icon-button matSuffix (click)="openColorPicker(colorInput)"
    [matTooltip]="getTranslateKey('selectColor') | translate">
    <mat-icon [style.color]="getFormControl().value">palette</mat-icon>
  </button>
  @if (hint) {
  <mat-hint>{{ hint }}</mat-hint>
  }
</mat-form-field>
