<mat-form-field [appearance]="appearance" class="mhc-full-width">
  <mat-label [attr.for]="id">{{ label }}</mat-label>
  <button class="mhc-prefix-form-button" type="button" mat-stroked-button matTextPrefix (click)="searchIcon()">
    {{ getTranslateKey('selectIcon') | translate }}
  </button>
  <input matInput [id]="id" [name]="id" type="text" [placeholder]="placeholder" [readonly]="!!isReadOnly"
    [formControl]="getFormControl()" />

  <button type="button" mat-icon-button matSuffix (click)="searchIcon()">
    <mat-icon [style.color]="iconColor">{{ getFormControl().value }}</mat-icon>
  </button>
  <!-- <button type="button" mat-icon-button matSuffix (click)="searchIcon()" [style.background-color]="iconColor">
    <mat-icon [style.color]="getContrastingColor(iconColor)">{{ getFormControl().value }}</mat-icon>
  </button> -->
  <!-- <mat-hint>{{ getTranslateKey('hint') | translate: {url: materialIconsWebSite} }}</mat-hint> -->
</mat-form-field>
