<section class="default-container">
  <app-section-title>Extrato</app-section-title>

  <app-statement-date-line></app-statement-date-line>
  <app-statement-row [credit]="true"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="true"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="true"></app-statement-row>
  <app-statement-row [credit]="true"></app-statement-row>
  <app-statement-row [credit]="true"></app-statement-row>
  <app-statement-row [credit]="true"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>
  <app-statement-row [credit]="false"></app-statement-row>









</section>
