<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <p class="mhc-transaction-moment">
      {{transaction.moment | date: "dd-MMM-yyyy HH'h'mm"}}
    </p>
    <span class="mhc-empty-spacer"></span>
    <p class="mhc-transaction-amount" [ngClass]="{
      'mhc-transaction-credit': transaction.type === 'CREDIT',
      'mhc-transaction-debit': transaction.type === 'DEBIT',
    }">
      @if (transaction.type === 'CREDIT') {
      <span>+</span>
      }
      <strong>
        {{transaction.amount | currency: transaction.wallet.currency.symbol}}
      </strong>
      @if (transaction.wallet.currency.code !== 'BRL') {
        <br />
        <span class="mhc-brl-transaction-amount">
          ({{transaction.amount * transaction.wallet.currency.brlRate | currency: 'BRL'}})
        </span>
      }
    </p>
  </div>
  <p>{{transaction.notes}}</p>
  <mat-chip-set class="mhc-categories-chip">
    @for (category of transaction.categories; track category) {
    <mat-chip>
      <mat-icon [style.color]="category.category.color">{{category.category.icon}}</mat-icon>
      <span>{{category.category.name}}</span>
      <span> - </span>
      <span>{{category.amount | currency: ' '}}</span>
    </mat-chip>
    }
  </mat-chip-set>
  <p class="mhc-transaction-id"><span>id: </span>{{transaction.id}}</p>
  <div>
    <a mat-stroked-button [routerLink]="transactionLink + '/' + transaction.id">
      <mat-icon>edit</mat-icon>
      {{'generic.edit' | translate}}
    </a>
    <button mat-stroked-button (click)="delete(transaction)">
      <mat-icon>delete</mat-icon>
      {{'generic.delete' | translate}}
    </button>
  </div>
</div>
