.mhc-transaction-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  flex: 1; /* Adicionado para permitir crescimento */
}

mat-icon {
  vertical-align: middle;
}

.mhc-transaction-id {
  text-align: end;
  font-weight: 100;
  font-size: x-small;
}

.mhc-transaction-moment {
  font-size: small;
  font-weight: bold;
}

.mhc-transaction-amount {
  text-align: end;
}

.mhc-transaction-credit {
  color: green;
}

.mhc-transaction-debit {
  // color: red;
}

.mhc-brl-transaction-amount {
  font-size: xx-small;
}

.mhc-categories-chip {
  overflow: hidden;
}
