mat-icon {
  vertical-align: middle;
}

.mhc-transaction-id {
  font-weight: 100;
  font-size: x-small;
}

.mhc-transaction-moment {
  font-size: small;
}

.mhc-transaction-amount {
  text-align: end;
}

.mhc-transaction-credit {
  color: green;
}

.mhc-transaction-debit {
  // color: red;
}

.mhc-brl-transaction-amount {
  font-size: xx-small;
}

.mhc-categories-chip {
  max-width: 250px;
  overflow: hidden;
}
