<div class="mat-app-background mhc-timeline">

  <div class="mhc-timeline-item">
    <div class="mhc-column-edge">
      <mat-chip-set aria-label="Fish selection">
        <mat-chip>Teste chip 1</mat-chip>
        <mat-chip>Teste chip 2</mat-chip>
        <mat-chip>Teste chip 3 com conteúdo muito maior para ver o que acontece</mat-chip>
        <mat-chip>Teste chip 4</mat-chip>
      </mat-chip-set>
    </div>

    <div class="mhc-column-center">
      <div class="mhc-timeline-icons">
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
        <button mat-mini-fab><mat-icon class="mat-18">home</mat-icon></button>
      </div>
    </div>

    <div class="mhc-column-edge"></div>
  </div>
</div>
