<form class="mhc-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <app-input id="name" [control]="formGroup.get('name')" [label]="getTranslateKey('nameLabel') | translate"
    [placeholder]="getTranslateKey('namePlaceholder') | translate">
  </app-input>

  <mat-form-field class="mhc-full-width" appearance="outline">
    <mat-label>{{getTranslateKey('currencyLabel') | translate}}</mat-label>
    <mat-select name="currency" formControlName="currency"
      [placeholder]="getTranslateKey('currencyPlaceholder') | translate" appCompareObjectId>
      @for(currency of currencies; track $index) {
      <mat-option [value]="currency">
        <span>{{'generic.currency.type.' + currency.code | translate}}</span>
        <span>({{currency.symbol}})</span>
        @if (!currency.active) {
        <span>&nbsp;</span>
        <span>--{{getTranslateKey('desactivatedCurrency') | translate}}--</span>
        }
      </mat-option>
      }
    </mat-select>
    <mat-error [innerHtml]="getFirstErrorTranslateKey('currency') | translate : formGroup.get('currency')?.errors ">
    </mat-error>
  </mat-form-field>

  <app-input id="balance" [control]="formGroup.get('balance')" [label]="getTranslateKey('balanceLabel') | translate"
    [placeholder]="getTranslateKey('balancePlaceholder') | translate" type="number" [step]="0.01"
    [textPrefix]="(formGroup.get('currency')?.value)?.symbol">
  </app-input>

  <mat-form-field class="mhc-full-width" appearance="outline">
    <mat-label>{{getTranslateKey('typeLabel') | translate}}</mat-label>
    <mat-select name="type" formControlName="type" (selectionChange)="onTypeChange($event.value)"
      [placeholder]="getTranslateKey('typePlaceholder') | translate" appCompareObjectId>
      @for(type of walletTypes; track $index) {
      <mat-option [value]="type">
        {{'generic.wallet.type.' + type | translate}}
      </mat-option>
      }
    </mat-select>
    <mat-error [innerHtml]="getFirstErrorTranslateKey('type') | translate : formGroup.get('type')?.errors ">
    </mat-error>
  </mat-form-field>

  @switch (formGroup.get('type')?.value) {
  @case ('BANK_ACCOUNT') {
  <h2>{{getTranslateKey('additionalInfoForBankAccount') | translate}}</h2>

  <app-input id="creditLimit" [control]="formGroup.get('creditLimit')"
    [label]="getTranslateKey('creditLimitLabel') | translate"
    [placeholder]="getTranslateKey('balancePlaceholder') | translate" type="number" [step]="0.01"
    [textPrefix]="(formGroup.get('currency')?.value)?.symbol">
  </app-input>

  <app-input id="interestRate" [control]="formGroup.get('interestRate')"
    [label]="getTranslateKey('interestRateLabel') | translate"
    [placeholder]="getTranslateKey('interestRatePlaceholder') | translate" type="number" [step]="0.01" textSuffix="%">
  </app-input>
  }
  @case ('CREDIT_CARD') {
  <h2>{{getTranslateKey('additionalInfoForCreditCard') | translate}}</h2>

  <app-input id="creditLimit" [control]="formGroup.get('creditLimit')"
    [label]="getTranslateKey('creditLimitLabel') | translate"
    [placeholder]="getTranslateKey('balancePlaceholder') | translate" type="number" [step]="0.01"
    [textPrefix]="(formGroup.get('currency')?.value)?.symbol">
  </app-input>

  <app-input id="billingCycleDate" [control]="formGroup.get('billingCycleDate')"
    [label]="getTranslateKey('billingCycleDateLabel') | translate"
    [placeholder]="getTranslateKey('billingCycleDatePlaceholder') | translate" type="number" [step]="1">
  </app-input>

  <app-input id="dueDate" [control]="formGroup.get('dueDate')" [label]="getTranslateKey('dueDateLabel') | translate"
    [placeholder]="getTranslateKey('dueDatePlaceholder') | translate" type="number" [step]="1">
  </app-input>

  }
  }

  <mat-checkbox formControlName="active">
    {{ getTranslateKey('activeLabel') | translate }}
  </mat-checkbox>

  <div class="d-flex flex-column mhc-form-actions">
    <button type="submit" mat-raised-button color="primary">
      {{ 'generic.confirm' | translate }}
    </button>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </button>
  </div>
</form>
