<form class="mhc-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

  <mat-form-field class="mhc-full-width" appearance="outline">
    <mat-label>{{getTranslateKey('nameLabel') | translate}}</mat-label>
    <input matInput name="name" formControlName="name" [placeholder]="getTranslateKey('namePlaceholder') | translate">
    <mat-error [innerHtml]="getFirstErrorTranslateKey('name') | translate : formGroup.get('name')?.errors ">
    </mat-error>
  </mat-form-field>

  <mat-form-field class="mhc-full-width" appearance="outline">
    <mat-label>{{getTranslateKey('currencyLabel') | translate}}</mat-label>
    <mat-select name="currency" formControlName="currency"
      [placeholder]="getTranslateKey('currencyPlaceholder') | translate" appCompareObjectId>
      @for(currency of currencies; track $index) {
      <mat-option [value]="currency">
        <span>{{'generic.currency.type.' + currency.code | translate}}</span>
        <span>({{currency.symbol}})</span>
        @if (!currency.active) {
        <span>&nbsp;</span>
        <span>--{{getTranslateKey('desactivatedCurrency') | translate}}--</span>
        }
      </mat-option>
      }
    </mat-select>
    <mat-error [innerHtml]="getFirstErrorTranslateKey('currency') | translate : formGroup.get('currency')?.errors ">
    </mat-error>
  </mat-form-field>

  <mat-form-field class="mhc-full-width" appearance="outline">
    <mat-label>{{getTranslateKey('balanceLabel') | translate}}</mat-label>
    @if (formGroup.get('currency')?.value) {
    <span matTextPrefix>
      <span>{{(formGroup.get('currency')?.value).symbol}}</span>
      <span>&nbsp;</span>
    </span>
    }
    <input matInput type="number" name="balance" formControlName="balance"
      [placeholder]="getTranslateKey('balancePlaceholder') | translate">
    <mat-error [innerHtml]="getFirstErrorTranslateKey('balance') | translate : formGroup.get('balance')?.errors ">
    </mat-error>
  </mat-form-field>

  <mat-form-field class="mhc-full-width" appearance="outline">
    <mat-label>{{getTranslateKey('typeLabel') | translate}}</mat-label>
    <mat-select name="type" formControlName="type" (selectionChange)="onTypeChange($event.value)"
      [placeholder]="getTranslateKey('typePlaceholder') | translate" appCompareObjectId>
      @for(type of walletTypes; track $index) {
      <mat-option [value]="type">
        {{'generic.wallet.type.' + type | translate}}
      </mat-option>
      }
    </mat-select>
    <mat-error [innerHtml]="getFirstErrorTranslateKey('type') | translate : formGroup.get('type')?.errors ">
    </mat-error>
  </mat-form-field>

  @switch (formGroup.get('type')?.value) {
    @case ('BANK_ACCOUNT') {
      <h2>{{getTranslateKey('additionalInfoForBankAccount') | translate}}</h2>
      <mat-form-field class="mhc-full-width" appearance="outline">
        <mat-label>{{getTranslateKey('creditLimitLabel') | translate}}</mat-label>
        @if (formGroup.get('currency')?.value) {
        <span matTextPrefix>
          <span>{{(formGroup.get('currency')?.value).symbol}}</span>
          <span>&nbsp;</span>
        </span>
        }
        <input matInput type="number" name="creditLimit" formControlName="creditLimit"
          [placeholder]="getTranslateKey('creditLimitPlaceholder') | translate">
        <mat-error [innerHtml]="getFirstErrorTranslateKey('creditLimit') | translate : formGroup.get('creditLimit')?.errors ">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mhc-full-width" appearance="outline">
        <mat-label>{{getTranslateKey('interestRateLabel') | translate}}</mat-label>
        <input matInput type="number" name="interestRate" formControlName="interestRate"
          [placeholder]="getTranslateKey('interestRatePlaceholder') | translate">
        <mat-error [innerHtml]="getFirstErrorTranslateKey('interestRate') | translate : formGroup.get('interestRate')?.errors ">
        </mat-error>
      </mat-form-field>
    }
    @case ('CREDIT_CARD') {
      <h2>{{getTranslateKey('additionalInfoForCreditCard') | translate}}</h2>
      <mat-form-field class="mhc-full-width" appearance="outline">
        <mat-label>{{getTranslateKey('creditLimitLabel') | translate}}</mat-label>
        @if (formGroup.get('currency')?.value) {
        <span matTextPrefix>
          <span>{{(formGroup.get('currency')?.value).symbol}}</span>
          <span>&nbsp;</span>
        </span>
        }
        <input matInput type="number" name="creditLimit" formControlName="creditLimit"
          [placeholder]="getTranslateKey('creditLimitPlaceholder') | translate">
        <mat-error [innerHtml]="getFirstErrorTranslateKey('creditLimit') | translate : formGroup.get('creditLimit')?.errors ">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mhc-full-width" appearance="outline">
        <mat-label>{{getTranslateKey('billingCycleDateLabel') | translate}}</mat-label>
        <input matInput type="number" name="billingCycleDate" formControlName="billingCycleDate"
          [placeholder]="getTranslateKey('billingCycleDatePlaceholder') | translate">
        <mat-error [innerHtml]="getFirstErrorTranslateKey('billingCycleDate') | translate : formGroup.get('billingCycleDate')?.errors ">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mhc-full-width" appearance="outline">
        <mat-label>{{getTranslateKey('dueDateLabel') | translate}}</mat-label>
        <input matInput type="number" name="dueDate" formControlName="dueDate"
          [placeholder]="getTranslateKey('dueDatePlaceholder') | translate">
        <mat-error [innerHtml]="getFirstErrorTranslateKey('dueDate') | translate : formGroup.get('dueDate')?.errors ">
        </mat-error>
      </mat-form-field>
    }
  }

  <mat-checkbox formControlName="active">
    {{ getTranslateKey('activeLabel') | translate }}
  </mat-checkbox>

  <div class="d-flex flex-column mhc-form-actions">
    <button type="submit" mat-raised-button color="primary">
      {{ 'generic.confirm' | translate }}
    </button>
    <button type="button" mat-raised-button (click)="cancel()">
      {{ 'generic.cancel' | translate }}
    </button>
  </div>
</form>
